*{
    margin: 0;
    padding: 0;  
}

.outer-cont{
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom left, #00ffcc 0%, #cc99ff 100%);
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main{
    font-family: 'Play', sans-serif;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-board{
    font-family: 'Play', sans-serif;
    border: 1px solid rgb(57, 57, 57);
    height: 200px;
}

h1{
    text-align: right;
    font-family: 'Play', sans-serif;
    padding: 20px 0px;
    width: 100%;
    margin-right: 200px;
    color: white;
}

button{
    font-family: 'Play', sans-serif;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

h2{
    font-family: 'Play', sans-serif;
    font-size: 100px;
    color: white;
}