<div class="outer-cont">
    <h2 *ngIf="freshpage">Let's Play Tic-Tac-Toe</h2>
    <h1 *ngIf="!winner && !isdraw && !freshpage">Current Player: {{player}}</h1>
    <h2 *ngIf="winner">Player {{winner}} won!!!</h2>
    <h2 *ngIf="isdraw">Draw!!!</h2>
    <button *ngIf="winner || isdraw || freshpage" outline (click)="newGame()">Start New Game</button>
  
    <main *ngIf="!winner && !isdraw">
      <app-board *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)"></app-board>
    </main>
  </div>