name: Deploy to GitHub Pages
on:
  push:
    branches: ["main"]
  workflow_dispatch: {}

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'
          cache-dependency-path: 'Source Code/TicTacToe/package-lock.json'

      - name: Install Dependencies
        run: npm install
        working-directory: 'Source Code/TicTacToe'

      - name: Build
        run: |
          npm run build -- --base-href /TIC-TAC-TOE/
          cp dist/tic-tac-toe/browser/index.html dist/tic-tac-toe/browser/404.html
        working-directory: 'Source Code/TicTacToe'

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'Source Code/TicTacToe/dist/tic-tac-toe/browser'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
